@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.caro-con {
  padding-top: 50px;
  padding-bottom: 40px;
  gap: 32px;
}

.caro-but h2 {
  font-size: 38px;
  font-weight: 700;
  color: #191919;
  font-family: "Balsamiq Sans", sans-serif;
}

.carousel-buttons {
  gap: 60px;
}

.carousel-btn {
  border-radius: 43px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Comfortaa", sans-serif;
  color: #2d2d2d;
  border: none;
  background-color: #ffffff;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.carousel-btn.active {
  background-color: #f8edf8;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 1s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  padding: 10px;
}

.product-card {
  transition: transform 0.3s;
  width: 295px;
  height: 398px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 21px;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 220px;
  height: 220px;
}

.card-img {
  border: 2px solid #d4d4d4;
  width: 295px;
  height: 295px;
  border-radius: 20px;
}

.loo-card {
  gap: 12px;
}

.love-cart {
  top: 17px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  right: 17px;
}

.nam-pri {
  gap: 6px;
}

.nam-pri h3 {
  font-size: 18px;
  font-weight: 700;
  color: #191919;
  font-family: "Comfortaa", sans-serif;
  text-align: start;
}

.nam-pri p {
  font-family: "Poppins", serif;
  font-size: 18px;
  font-weight: 600;
  color: #171717;
}

@media (max-width: 768px) {
  .carousel-slide {
    min-width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  .caro-con {
    padding-top: 27px;
    padding-bottom: 21px;
    gap: 17px;
  }

  .caro-but h2 {
    font-size: 20px;
  }

  .carousel-buttons {
    gap: 32px;
  }

  .carousel-btn {
    border-radius: 23px;
    font-size: 11px;
    padding: 6px 9px;
  }

  .carousel-slide {
    padding: 5px;
  }

  .product-card {
    max-width: 157px;
    max-height: 212px;
    margin-bottom: 32px;
    gap: 11px;
  }

  .product-card img {
    max-width: 117px;
    max-height: 117px;
  }

  .card-img {
    max-width: 157px;
    max-height: 157px;
    border-radius: 11px;
  }

  .loo-card {
    gap: 6px;
  }

  .love-cart {
    top: 9px;
    gap: 4px;
    right: 9px;
  }

  .nam-pri {
    gap: 3px;
  }

  .nam-pri h3 {
    font-size: 10px;
  }

  .nam-pri p {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .carousel-slide {
    min-width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  .caro-con {
    padding-top: 20px;
    padding-bottom: 16px;
    gap: 13px;
  }

  .caro-but h2 {
    font-size: 15px;
  }

  .carousel-buttons {
    gap: 24px;
  }

  .carousel-btn {
    border-radius: 17px;
    font-size: 8px;
    padding: 3px 6px;
  }

  .carousel-slide {
    padding: 4px;
  }

  .product-card {
    max-width: 100px;
    max-height: 159px;
    margin-bottom: 24px;
    gap: 8px;
  }

  .product-card img {
    max-width: 88px;
    max-height: 88px;
  }

  .card-img {
    max-width: 118px;
    max-height: 118px;
    border-radius: 8px;
  }

  .loo-card {
    gap: 5px;
  }

  .love-cart {
    top: 7px;
    gap: 3px;
    right: 7px;
  }

  .nam-pri {
    gap: 2px;
  }

  .nam-pri h3 {
    font-size: 7px;
  }

  .nam-pri p {
    font-size: 7px;
  }
}
