.star-rating {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.star {
  cursor: pointer;
  color: lightblue;
  transition: color 0.5s ease-in-out;
  font-size: 20px;
}

.star.active {
  color: #ffca28;
}

.star:hover {
  color: #f26c62;
  transform: scale(1.2);
}

.star-rating p {
  margin-left: 10px;
  color: green;
  font-size: 14px;
}

@media (max-width: 768px) {
  .star-rating {
    gap: 2.6px;
  }

  .star {
    font-size: 11px;
  }

  .star-rating p {
    margin-left: 5.3px;
    font-size: 7px;
  }
}

@media (max-width: 576px) {
  .star-rating {
    gap: 2px;
  }

  .star {
    font-size: 8px;
  }

  .star-rating p {
    margin-left: 4px;
    font-size: 5.6px;
  }
}
